
@model IEnumerable<addmigrat.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    @using (Html.BeginForm("Index","Locations",FormMethod.Get))
    {
    <p>
        Place: @Html.DropDownList("place")
        Country: @Html.TextBox("SearchString") <br /><br/>
        <input type="submit" class="btn btn-info" value="Search" />
    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.countrySort })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.ActionLink("Place", "Index", new { sortOrder = ViewBag.placeSort })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.LocationID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>
        </td>
    </tr>
}

</table>

